
/meeting_summarizer/__pycache__
meeting_summarizer/meeting_summarizer.log
/meeting_summarizer/record_audio/__pycache__
/meeting_summarizer/record_audio/transcripts
poetry.lock
transcripts/*.*
/meeting_summarizer/audio_recorder/__pycache__
/meeting_summarizer/audio_recorder/transcripts
/meeting_summarizer/speech_to_text/__pycache__
/meeting_summarizer/text_processor/__pycache__
/meeting_summarizer/utils/__pycache__
/meeting_summarizer/config/__pycache__
